/* 350px */
@utility text-macro {
  font-size: var(--text-display);
  font-family: var(--font-serif);
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;

  @media (max-width: 768px) {
    font-size: clamp(120px, 20vw, var(--text-display));
  }
}

/* 128px */
@utility text-headline-1 {
  font-size: clamp(64px, 10vw, var(--text-title));
  font-family: var(--font-serif);
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* 80px */
@utility text-headline-2 {
  font-size: clamp(46px, 6vw, var(--text-heading));
  font-family: var(--font-serif);
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;

  @media (max-width: 768px) {
    font-size: clamp(32px, 6vw, var(--text-subhead));
  }
}
@utility text-headline-menu {
  font-size: clamp(46px, 6vw, var(--text-heading));
  font-family: var(--font-serif);
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* 40px */
@utility text-headline-3 {
  font-size: clamp(32px, 6vw, var(--text-subhead));
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* 20px */
@utility text-headline-4 {
  font-size: var(--text-lead);
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* 16px */
@utility text-body {
  font-size: var(--text-body);
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* 16px */
@utility text-body-bold {
  font-size: var(--text-body);
  font-family: var(--font-sans);
  font-weight: 600;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* 14px */
@utility text-cta {
  font-size: var(--text-small);
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* 10px */
@utility text-micro {
  font-size: var(--text-tiny);
  font-family: var(--font-sans);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
}

/* SPECIFIC UTILITIES*/
@utility text-page-title {
  color: var(--color-navy);
  text-transform: uppercase;
  padding-block: var(--spacing-indent-2);
  font-size: clamp(46px, 6vw, var(--text-heading));
  font-family: var(--font-serif);
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;

  @media (width >= 48rem) {
    font-size: clamp(64px, 10vw, var(--text-title));
  }
}

@utility text-page-description {
  color: var(--color-navy);
  font-size: var(--text-lead);
  font-family: var(--font-serif);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.02em;
  max-width: 95%;

  @media (width >= 48rem) {
    font-size: clamp(32px, 6vw, var(--text-subhead));
  }
}
